/* создадим три переменные с вещественными значениями */
/*в пеовлй переменной округляем значение в большую сторону*/
/*во второй переменной округляем значение в меньшую сторону*/
/*в третьей переменной округляем значение по правилам с одним знаком после запятой*/
div {
  /*зададим размеру шрифта наибольшее из значений и преобразуем его в строку с процентами*/
  font-size: 210%;
}
.second {
  background-color: #ffc0cb;
  color: #800080;
  padding: 14.17322835pt;
  margin: 5vw;
}
