.container {
    display: flex;
    flex-wrap: nowrap;
}
.div1, .div2 {
    width: 50%;
}
.div1 {
    background-color: seashell;
}
.div2 {
    background-color: rgb(134, 163, 218);
    margin-left: 10px;
}
.div1 input {
    width: 100vw;
}
.div2 input {
    width: 48%;
}
select {
    width: 49%;
}