.container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 300px;
    -webkit-overflow-scrolling: touch; /* для плавной прокрутки на мобильных устройствах */
  }
  .opinion {
    flex: none;
    scroll-snap-align: start;
    width: 300px;
    text-align: center;
  }
.container::before, .container::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 13px;
    background-color: white;
    }