* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #24252A;
}
.dna-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(-20deg);
}
@keyframes rotate {
    0% {
        transform: rotatex(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}
.dna {
    position: relative;
    width: 1px;
    height: 100px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 15 #e7e7e7;
    background: transparent;
    margin: 0px 10px;
    animation: rotate 3s linear infinite;
}
.dna::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: #1cffb3;
	border-radius: 50%;
	box-shadow: 0 0 15px #1cffb3;
}
.dna::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: #0ff;
	border-radius: 50%;
	box-shadow: 0 0 12px #0ff;
}
.dna:nth-child(1) {
    animation-delay: -0.15s;
}
.dna:nth-child(2) {
    animation-delay: -0.3s;
}
.dna:nth-child(3) {
    animation-delay: -0.45s;
}
.dna:nth-child(4) {
    animation-delay: -0.6s;
}
.dna:nth-child(5) {
    animation-delay: -0.75s;
}
.dna:nth-child(6) {
    animation-delay: -0.9s;
}
.dna:nth-child(7) {
    animation-delay: -1.05s;
}
.dna:nth-child(8) {
    animation-delay: -1.2s;
}
.dna:nth-child(9) {
    animation-delay: -1.35s;
}
.dna:nth-child(10) {
    animation-delay: -1.5s;
}
.dna:nth-child(11) {
    animation-delay: -1.65s;
}
.dna:nth-child(12) {
    animation-delay: -1.8s;
}
.dna:nth-child(13) {
    animation-delay: -1.95s;
}
.dna:nth-child(14) {
    animation-delay: -2.1s;
}
.dna:nth-child(15) {
    animation-delay: -2.25s;
}
.dna:nth-child(16) {
    animation-delay: -2.4s;
}
.dna:nth-child(17) {
    animation-delay: -2.55s;
}
.dna:nth-child(18) {
    animation-delay: -2.6s;
}
.chapter1 {
    text-align: center;
    margin-bottom: 100px;
}
/* .dna-menu {
    position: absolute;
    top: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dna-wrapper li {
    position: relative;
    display: none;
    padding: 0;
    height: 100px;
    width: 396px;
    list-style: none;
    background: rgba(255, 255, 255, 0.5);
    border-left: 4px solid #070707;
    position: relative;
    font-size: xx-large;
}
.dna-wrapper:hover li {
    display: block;
}
.dna-wrapper li a {
    color: black;
    text-decoration: none;
    display: block;
    padding-top: 30px;
    padding-left: 20px;
    height: 100px;
    line-height: 40px;
    transition: all .5s;
}
.dna-wrapper a:hover {
    background: white;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.38);
}
.dna-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    display: none;
}
.first:hover p {
    display: block;

} */
#biography {
    height: 300px;
}
.container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.container ul {
    list-style: none;
    background: #24252A;
    width: 450px;
}
.container ul li {
    /* display: inline-block; */
    /* position: relative; */
    border: 1px solid white;
}
.container ul li a {
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: grid;
}
.container ul li ul.dropdown li {
    display: grid;
}
.container ul li ul.dropdown {
    width: 450px;
    background: #24252A;
    backdrop-filter: blur(50px);
    /* display: none; */
}
.container ul li a:hover {
    background: #112c66;
    backdrop-filter: blur(50px);
}
.container ul li:hover ul.dropdown {
    display: grid;
}
h1 {
    color: white;
}
.silka {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}