* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: #aed9e7;
}
.grid {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-rows: dense;
    justify-content: space-evenly;
    grid-row-gap: 30px;
}
.grid div {
    width: 350px;
    height: fit-content;
    background-color: white;
}
div p {
    line-height: 25px;
    text-align: left;
    margin: 0;
    padding: 16px 15px 16px 15px;
}
div h3 {
    margin: 0;
    padding: 16px 0px 0px 15px;
}
/*.item-5 {
    position: relative;
    top: -17%;
}
.item-6 {
    position: relative;
    top: -9.5%;
}
.item-7 {
    position: relative;
    top: -75%;
}
.item-8 {
    position: relative;
    top: -90%;
}
.item-9 {
    position: relative;
    top: -16%;
}*/