* {
    font-family: sans-serif;
}
body {
    margin: 0 auto;
}
header {
    height: 8.5vh;
    background-color: rgb(0, 140, 140);
}
h3 {
    padding: 30px 0px 30px 30px;
    color: white;
    margin: 0 auto;
    position: sticky;
}
main {
    width: 100vw;
    height: 91.5vh;
    background-color: rgb(0, 159, 159);
    display: flex;
    justify-content: space-between; 
    overflow-x: auto;
}
section {
    height: 600px;
    width: 450px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    overflow-y: auto;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    flex-shrink: 0;
}
h4 {
    margin: 20px 0px 20px 20px;
}
.d1 {
    height: 150px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
p {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 25px;
}
figcaption {
    float: right;
}
.img{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    width: 100px;
}
.img .d {
    width: 100px;
}
/*.d1, .d2, .d3, .d4 {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.d4 {
    margin-right: 50px;
}
.d5 {
    margin-right: auto;
    float: right;
}*/
