* {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.about {
  border-bottom: 1px solid #E8ECEF;
}
.about__body {
  margin: 0 15px;
}
.about__title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.title {
  color: #333E50;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.about__text {
  color: #333E50;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.about__link {
  color: #388EC3;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: none;
}
.search-input {
  background-color: #F1F4F7;
  border: 1px solid #DADEE2;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 45px;
  min-width: 330px;
}
.search-input::placeholder {
  color: #ADB4BF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.content__column__item1 {
  background-image: url(stocks.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.content__column__item4 {
  background-image: url(iis.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.content__column__item5 {
  background-image: url(brokers.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.content__column__item__text__title {
  color: #333E50;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
}
.content__column__item__text__subtitle {
  color: #333E50;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.green-button {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  background-color: #95CE5A;
  box-shadow: 0px 5px 10px 0px rgba(149, 206, 90, 0.4);
  border: none;
  border-radius: 5px;
  width: 158px;
  height: 45px;
  margin: 0px 0px 20px 20px;
}
.white-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  border: 1px solid #DADEE2;
  border-radius: 5px;
  width: 158px;
  height: 45px;
  background-color: #FFFFFF;
  margin: 0px 0px 20px 20px;
}
.content__title {
  margin: 30px 0px 20px 15px;
}
.content__column {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content__column__item1,
.content__column__item2,
.content__column__item3,
.content__column__item5,
.content__column__item6 {
  height: 193px;
  border: 1px solid #E8ECEF;
}
.content__column__item4 {
  height: 218px;
  border: 1px solid #E8ECEF;
}
.content__column__item__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 20px;
}
.invests {
  margin: 30px 15px;
}
.diagram {
  border: 1px solid #E8ECEF;
}
.diagram__header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
.diagram__title {
  font-size: 20px;
  line-height: 25px;
}
.diagram__tabs {
  width: 290px;
  height: 32px;
  background: black;
  margin: 0px 20px;
}
.diagram__table {
  margin: 15px 20px 0px 20px;
}
.diagram__table__title {
  height: 27px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8ECEF;
}
.diagram__table__subtitle {
  color: #9299A2;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.diagram__table__row__item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border-bottom: 1px solid #E8ECEF;
}
.diagram__table__row__item2,
.diagram__table__row__item3,
.diagram__table__row__item5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #E8ECEF;
}
.diagram__table__row__item4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #E8ECEF;
}
.diagram__table__row__item6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  border-bottom: 1px solid #E8ECEF;
}
.diagram__table__row__item__values {
  display: flex;
  align-items: center;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.name-full {
  color: #388EC3;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}
.name-short {
  color: #9299A2;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.price {
  color: #333E50;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text {
  color: #7FC03C;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}
.red-text {
  color: #ED2C35;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}
.frame {
  display: flex;
}
